{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block navbar %}{% endblock %}
{% block aside %}{% endblock %}
{% load user_filters %}
{% block content %}
<style>
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.login-box {
    width: 420px;
    text-align: center;
}

.login-box h4 {
    margin-bottom: 35px;
    color: #333;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textbox label {
    width: 150px;
    margin-right: 10px;
    text-align: left;
}

.textbox input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}

.textbox input:focus {
    border-color: #1f8fff;
    outline: none;
    box-shadow: none;
}

.button-container {
    text-align: center;
}

button {
    width: 100%;
    padding: 6px;
    background-color: #15a362;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgba(21, 163, 98, 0.8) !important;
}

button:focus {
    outline: none;
}

.info-text {
    font-size: 13px;
    color: #5d6778;
    text-align: left;
    margin-bottom: 25px;
}

a {
    color: #15a362;
    text-decoration: underline;
}

a:hover { color: green; }
</style>
<title>Изменение пароля</title>
<div class="login-container">
    <div class="login-box">
        <h4 style="font-weight: 500;">Изменение пароля</h4>
        {% if form.errors %}
            <div style="color: red; margin-top: -15px;">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="textbox">
                    {{ field.label_tag }}
                    {{ field|addclass:"form-control" }}
                </div>
                {% if field.help_text %}
                    <small class="info-text">{{ field.help_text|safe }}</small>
                {% endif %}
            {% endfor %}
            
            <div class="button-container">
                <button type="submit">Изменить пароль</button>
            </div>
        </form>
        <p class="info-text" style="font-size: 14px; text-align: center;">Перейти на <a href="{% url 'vac_all' 0 %}">главную</a>.</p>
    </div>
</div>
{% endblock %}