{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block navbar %}{% endblock %}
{% block aside %}{% endblock %}
{% block content %}
<style>
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.login-box {
    width: 420px;
    text-align: center;
}

.login-box h4 {
    margin-bottom: 35px;
    color: #333;
}

.text {
    font-size: 18px;
    color: #5d6778;; 
    text-align: left;
    margin-bottom: 4px;
}

.info-text {
    font-size: 14px;
    color: #5d6778;
    text-align: left;
}
</style>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h4 style="font-weight: 500;">Сброс пароля</h4>
            <p class="text">Ссылка для сброса пароля отправлена на адрес <strong>{{ email }}</strong>.</p>
            <p class="info-text">Письмо может прийти с задержкой до 5 минут, пожалуйста, дождитесь его.</p>
        </div>
    </div>
</body>
</html>
{% endblock %}