{% extends "base.html" %}
{% load cache %}
{% block title %}Редактирование профиля{% endblock %}
{% load user_filters %}
{% load static %}
{% block header %}
<title>Редактирование профиля</title>
<div style="display: flex; flex-direction: row; justify-content: left; align-items: center; flex-wrap: nowrap; width: 120%;">
    <a style="color: black; font-weight: bold; font-size: 34px; text-align: left; line-height: 50px; white-space: nowrap; margin-left: 358px;">Редактирование сотрудника</a>
</div>
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<script src="{% static 'libs/select2.min.js' %}"></script>

<style>
    .table-container { width: 750px; margin: 0 auto; margin-top: 20px; margin-left: 358px; padding: 30px; background-color: white; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); border-radius: 5px; }
	.btn-edit { background-color: #15a362; font-family: 'Calibri'; font-style: normal; width: 140px; height: 44px; font-weight: 700; font-size: 20px; padding: 0 10px; border-radius: 5px; color: white; text-align: center; display: flex; align-items: center; justify-content: center; text-decoration: none; text-transform: none; margin: 0;}
	.btn-my-vacations { background-color: white; color: #5d6778 !important; border: 1px solid #ccc; font-family: 'Calibri'; font-style: normal; font-weight: 700; width: 130px; height: 44px; font-size: 20px; padding: 0 10px; border-radius: 5px; color: white; text-align: center; display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: 20px; }
	.btn-edit:hover { background-color: rgba(21, 163, 98, 0.8); text-decoration: none; color: white; }
	.btn-my-vacations:hover { text-decoration: none; color: #15a362 !important; border: 1px solid #15a362; }
    .btn-delete { background-color: #d26d69; font-family: 'Calibri'; font-style: normal; font-weight: 700; width: 160px; height: 44px; font-size: 20px; padding: 0 10px; border-radius: 5px; color: white; text-align: center; display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: 150px; }
    .btn-delete:hover { background-color: rgba(210, 109, 105, 0.9); text-decoration: none; color: white; }
    .form-label { font-size: 20px; color: #5d6778; font-weight: bold; margin-bottom: 8px; }  
    .table-container form { display: flex; flex-direction: column; max-width: 620px; align-items: flex-start; font-size: 20px; }  
    .table-container input, .table-container select { font-size: 20px; padding: 8px; width: 100%; max-width: 620px; height: 50px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: border-color 0.3s ease; color: #5d6778; }  
    .table-container select { appearance: none; text-align: left; font-weight: normal; background-color: white; }  
    .table-container input:focus, .table-container select:focus { border-color: #0d6efd; outline: none; }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none;
    }
</style>    
{% endblock %}

{% block aside %}
    {% include 'includes/aside_vac_all.html' %}
{% endblock %}

{% block content %}
<div class="table-container">
    <form method="post">
        {% csrf_token %}
        
        <label for="last_name" class="form-label">Фамилия<span style="color: red;">&nbsp;*</span></label>
        <input type="text" id="last_name" name="last_name" value="{{ user_info.user.last_name }}" required>

        <label for="first_name" class="form-label">Имя<span style="color: red;">&nbsp;*</span></label>
        <input type="text" id="first_name" name="first_name" value="{{ user_info.user.first_name }}" required>

        <label for="patronymic" class="form-label">Отчество</label>
        <input type="text" id="patronymic" name="patronymic" value="{{ user_info.user.patronymic }}">

        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" value="{{ user_info.user.email }}" required>

        <label for="position" class="form-label">Должность</label>
        <input type="text" id="position" name="position" value="{{ user_info.position.position|default_if_none:'' }}">

        <label for="department" class="form-label">Отдел</label>
        <select id="department" name="department" style="cursor: pointer;">
        <option value="" {% if not user_info.otd_number %}selected{% endif %}></option>
            {% for dep in departments %}
                <option value="{{ dep.id }}" style="font-weight: normal;" {% if user_info.otd_number == dep %}selected{% endif %}>
                    {{ dep.title }}
                </option>
            {% endfor %}
        </select>

        <label for="tags" class="form-label">Теги</label>
        <select id="tags" name="tags" multiple="multiple" style="width: 100%; cursor: pointer;">
            {% for tag in all_tags %}
                <option value="{{ tag.id }}"
                    {% if tag in user_info.tags.all %}selected{% endif %}>
                    {{ tag.name }}
                </option>
            {% endfor %}
        </select>

        <div style="display: flex; gap: 10px; margin-top: 20px;">
            <button class="btn-edit" type="submit">Сохранить</button>
            {% if request.GET.from == 'profile' %}
                <a class="btn-my-vacations" href="{% url 'profile' user_info.user.id %}">Отмена</a>
            {% else %}
                <a class="btn-my-vacations" href="{% url 'employees' %}">Отмена</a>
            {% endif %}
            {% if request.user.get_full_name in bosses and not is_own_profile %}
            <a
                href="#"
                class="btn-delete"
                data-url="{% url 'employees' %}?tab=employees"
                data-action="archive"
                data-ids="{{ user_info.user.id }}"
            >
                Архивировать
            </a>
            {% endif %}
        </div>
        <div style="margin-top: 20px;"><span style="color: red;">*</span><span style="font-style: italic; color: #5d6778;"> - обязательные поля.</span></div>
    </form>

    <form id="archive-form" method="post" style="display:none;">
        {% csrf_token %}
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    $('#tags').select2({
        placeholder: '',
        width: '100%'
    });

    const archiveForm = document.getElementById('archive-form');

    document.querySelectorAll('.btn-delete').forEach(link => {
        link.addEventListener('click', function(e) {
        e.preventDefault();

        if (!confirm('Поместить сотрудника в архив?')) return;

        archiveForm.setAttribute('action', this.dataset.url);

        archiveForm.querySelectorAll(
            'input[name="action"], input[name="ids"], input[name="archive_ids"]'
        ).forEach(i => i.remove());

        const a1 = document.createElement('input');
        a1.type  = 'hidden';
        a1.name  = 'action';
        a1.value = this.dataset.action;
        archiveForm.appendChild(a1);

        const a2 = document.createElement('input');
        a2.type  = 'hidden';
        a2.name  = 'archive_ids';
        a2.value = this.dataset.ids;
        archiveForm.appendChild(a2);

        archiveForm.submit();
        });
    });
});
</script>
{% endblock %}