<style>
	.all_flex {
		display: flex; flex-direction: row;
	}
	.main_text {
		margin-left: 10px; padding-left: 10px; color: gray; margin-right: 20px; width: 350px auto; line-height: 40px;
	}

	.navbar {
		background: #E6E6E6;
	}

	.navbar.custom-navbar {
		background: white;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		height: 60px;
	}

	.darker-nav {
		font-size: 20px;
		font-weight: normal;
		color: #15a362;
		text-decoration: underline;
		display: inline;
	}

	.darker-nav:hover {
		color: green;
	}

	.btn.sib:hover { 
		background-color: rgba(21, 163, 98, 0.8) !important; 
	}

	.navbar-nav .nav-item.dropdown {
		position: relative;
	}

	#profileDropdown img {
		vertical-align: middle;
	}

	.dropdown-menu {
		background-color: #ffffff;
		border-radius: 5px;
		width: 250px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		font-family: Calibri, sans-serif;
		font-size: 16px;
		z-index: 1000;
	}

	.dropdown-item {
		padding: 10px 20px;
		color: #333;
		display: block;
		text-decoration: none;
		overflow: hidden; 
		text-overflow: ellipsis; 
		white-space: nowrap; 
	}

	.dropdown-toggle::after {
		border-top-color: #5d6778;
	}

	.dropdown-toggle:hover::after {
		border-top-color: black; 
	}

	.dropdown-item:active {
		color: #333;
		background-color: white;
	}
</style>
{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
<nav class="navbar navbar-expand-md {% if navbar_style %}{{ navbar_style }}{% endif %}" style="font-weight: bold;">
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="min-width: 1000px;">
		{% if show_add_leave_button %}
				<a id="toggle-info-block">
					<img class="menu-icon" style="height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; margin-left: 4px; cursor: pointer;" src="{% static 'menu.svg' %}">
				</a>
		{% endif %}
		{% if navbar_style == 'custom-navbar' %}
			{% if show_vacation_link %}
			<a style="margin-left: 25px;" class="darker-nav" href="{% url 'vac_calendars' 0 %}">
				Графики отпусков
			</a>
			<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
				&nbsp;/ Единый график, {{ year }} г.
			</span>
			{% elif show_my_vacations %}
			<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_all' 0 %}">
				Ближайшие отпуска
			</a>
			<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
				&nbsp;/ Мои отпуска
			</span>
			{% elif show_person %}
				{% if employee_name %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_2' year=year otd=0 %}">
						График отпусков
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Добавление отпуска
					</span>
				{% else %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_my_vacations' %}">
						Мои отпуска
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Новый отпуск
					</span>
				{% endif %}
			{% elif show_all_vacations %}
			<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_all' 0 %}">
				Ближайшие отпуска
			</a>
			<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
				&nbsp;/ Все отпуска
			</span>
			{% elif my_profile %}
			<span style="margin-left: 375px; font-size: 20px; color: #5d6778; font-weight: bold; display: inline;">
				Мой профиль
			</span>
			{% elif employees %}
			<span style="margin-left: 375px; font-size: 20px; color: #5d6778; font-weight: bold; display: inline;">
				Центр комплексирования
			</span>
			{% elif import_vac %}
			<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_calendars' 0 %}">
				Графики отпусков
			</a>
			<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
				&nbsp;/ Импорт отпусков из файла
			</span>
			{% elif profile_edit %}
			<a style="margin-left: 375px;" class="darker-nav" href="#">
				Сотрудники
			</a>
			<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
				&nbsp;/ {{request.user.get_full_name}}
			</span>
			{% elif show_vacation_detail %}
				{% if request.GET.from == 'all_vacations' %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_all_vacations' %}">
						Все отпуска
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Отпуск {{ vacation_user_name }}
					</span>
				{% else %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_my_vacations' %}">
						Мои отпуска
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Отпуск {{ vacation_user_name }}
					</span>
				{% endif %}
			{% elif redact_vac %}
				{% if request.GET.from == 'all_vacations' %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_all_vacations' %}">
						Все отпуска
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Редактирование отпуска
					</span>
				{% elif request.GET.from == 'calendars' %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_2' year=year otd=0 %}">
						График отпусков
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Редактирование отпуска
					</span>
				{% else %}
					<a style="margin-left: 375px;" class="darker-nav" href="{% url 'vac_my_vacations' %}">
						Мои отпуска
					</a>
					<span style="font-size: 20px; color: #5d6778; font-weight: normal; display: inline;">
						&nbsp;/ Редактирование отпуска
					</span>
				{% endif %}
			{% endif %}
		{% else %}
			<img style="height: 45px; margin-left: 30px; margin-right: 100px;"
				src="{% static 'logo_ya_removebg.png' %}" alt="Логотип">
		{% endif %}
	</div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto"> 
			{% if user.is_authenticated %}
				{% if show_button %}
					<li>
						<a id="add-leave-button" class="btn sib" onclick="showDropdown(event)" style="background-color:#15a362; font-family: 'Calibri'; font-style: normal; font-weight: 400; width: 190px; height: 38px; font-size: 19px; border-radius: 5px;
						color: white; text-align: center; display: flex; align-items: center; justify-content: center; margin-right: 20px; cursor: pointer;">
							Добавить отпуск
							<img style="height: 22px; margin-left: 3px;" src="{% static 'arrow_down.png' %}">
						</a>
					</li>
				{% endif %}
				{% if request.user.is_superuser %}
				<li class="d-flex align-items-center mr-3">
					<a href="{% url 'holiday_calendar:holiday_list' %}" style="display: flex; align-items: center;">
						<img src="{% static 'gear_profile.svg' %}" title="Производственный календарь" style="height: 24px; width: 24px; object-fit: contain; cursor: pointer;">
					</a>
				</li>
				{% endif %}
				<li class="nav-item dropdown d-flex align-items-center">
					<a class="nav-link dropdown-toggle p-0 d-flex align-items-center" href="#" id="profileDropdown"
					   role="button" onclick="toggleProfileDropdown(event)">
						<img src="{% static 'user.png' %}" alt="Профиль"
							 style="height: 32px; width: 32px; border-radius: 50%; object-fit: cover; cursor: pointer;">
					</a>
					<div class="dropdown-menu dropdown-menu-right" id="profileDropdownMenu" style="display: none; margin-top: 20px;">
						<a class="dropdown-item" style="color: #15a362; text-decoration: underline;" href="{% url 'vac_my_profile' %}">{{ request.user.get_full_name }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endwith %}